* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Main Css */
#main {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 30% 50% 20%;
  grid-template-columns: 25% 25% 50%;

  grid-template-areas:
    "left-top-left left-top-right right"
    "left-center left-center right"
    "left-bottom left-bottom right";
}

#left-top-left {
  grid-area: left-top-left;
  padding: 15px;
}

#squre {
  width: 8px;
  height: 8px;
  rotate: 45deg;
  background-color: black;
}

#left-top-right {
  grid-area: left-top-right;
  text-align: end;
  padding: 15px;
}

#left-top-right h4 {
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 500;
}

#left-top-right h5 {
  font-size: 6px;
  font-weight: 400;
  color: #333;
}
#left-top-right h6 {
  display: none;
}

#left-center {
  grid-area: left-center;
  padding: 0px 15px;
}

#left-center h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
#left-center h1:nth-child(2n) {
  text-align: center;
}

#left-bottom {
  grid-area: left-bottom;
}

#left-bottom p {
  width: 65%;
  padding: 15px;
  font-size: 6px;
  font-weight: 500;
  color: #333;
}

#right {
  grid-area: right;
  /* background-color: rgb(13, 72, 53); */
  padding: 10px 40px;
  padding-right: 25px;
}

#right video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  object-position: 50% 20%;
}

#arrow {
  position: absolute;
  top: 42%;
  left: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  transform: translate(-50% -50%);
}
#arrow i {
  font-size: 15px;
  font-weight: 100;
}

@media (max-width: 500px) {
  #main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 10% 50%;
  }
  #left-top-left {
    padding: 20px;
  }
  #squre {
    width: 15px;
    height: 15px;
  }
  #left-top-right {
    padding: 20px;
    text-align: right;
  }
  #left-top-right h4 {
    display: none;
  }

  #left-top-right h5 {
    display: none;
  }
  #left-top-right h6 {
    display: block;
    font-size: 25px;
  }
  #left-center {
    padding: 20px;
  }
  #left-center h1 {
    font-size: 18vw;
    line-height: 16vw;
  }
  #left-center h1:nth-child(2n) {
    text-align: right;
  }

  #left-bottom {
    padding: 20px;
  }
  #left-bottom p {
    width: 100%;
    font-size: 15px;
  }
  #right {
    grid-column: 1/4;
    grid-row: 4;
    padding: 30px;
  }
  #right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
  #arrow {
    top: 50%;
    left: 43%;
    transform: translate(-50% -50%);
    rotate: 90deg;
    padding: 20px;
  }
  #arrow i {
    font-size: 20px;
    font-weight: 100;
  }
}
